@media (max-width: 768px) {
  .contact-card {
    max-width: 100%;
  }
}
h1 {
  font-size: 1.5rem;
  color: #7c1f09; 
  text-align: center;
 }
 
 p {
  margin-left: 0;
  text-align: center;
}


 .contact-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  max-width: 250px;
  background: #fff;
  color:#001f3f; 
  width: 100%;
  flex: 1 1 200px;
}

.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
}
